.app {
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
}

.form-container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.form-container h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
  box-sizing: border-box;
}

input:focus {
  border-color: #2563eb;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1d4ed8;
}

.summary {
  display: flex;
  gap: 20px;
  margin: 25px 0;
}

.income-box,
.expense-box {
  flex: 1;
  border-radius: 15px;
  padding: 20px;
  color: white;
}

.income-box {
  background: linear-gradient(135deg, #16a34a, #22c55e);
}

.expense-box {
  background: linear-gradient(135deg, #dc2626, #ef4444);
}

.income-box h3,
.expense-box h3 {
  margin: 0;
}

.income-box p,
.expense-box p {
  margin-top: 12px;
  font-size: 24px;
  font-weight: bold;
}

.balance-card {
  background: linear-gradient(135deg, #2563eb, #4f46e5);
  color: white;
  text-align: center;
  padding: 30px;
  border-radius: 18px;
  margin-top: 20px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.balance-card h2 {
  margin: 0;
  font-size: 20px;
}

.balance-card h1 {
  margin-top: 15px;
  font-size: 42px;
}

.transactions {
  margin-top: 35px;
}

.transactions h2 {
  margin-bottom: 15px;
}

.transaction-card {
  background: white;
  padding: 18px 20px;
  border-radius: 14px;
  margin-bottom: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 8px 18px rgba(0,0,0,0.08);

  transition: 0.25s;
}

.transaction-card:hover {
  transform: translateY(-2px);
}

.transaction-info h4 {
  margin: 0;
  font-size: 18px;
}

.transaction-info p {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}

.delete-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn:hover {
  background: darkred;
}

@media (max-width: 650px) {

  .app {
    padding: 20px;
  }

  .summary {
    flex-direction: column;
  }

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f3f4f6;
}